@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  
:root  {
  --background: 15 0% 95%;
  --foreground: 15 0% 10%;
  --card: 15 0% 90%;
  --card-foreground: 15 0% 15%;
  --popover: 15 0% 95%;
  --popover-foreground: 15 95% 10%;
  --primary: 15 78% 53%;
  --primary-foreground: 0 0% 100%;
  --secondary: 15 10% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: -23 10% 85%;
  --muted-foreground: 15 0% 40%;
  --accent: -23 10% 80%;
  --accent-foreground: 15 0% 15%;
  --destructive: 0 50% 40%;
  --destructive-foreground: 15 0% 90%;
  --border: 15 20% 50%;
  --input: 15 20% 40%;
  --ring: 15 78% 53%;
  --radius: 0.75rem;
}
.dark  {
  --background: 15 10% 10%;
  --foreground: 15 0% 90%;
  --card: 15 0% 10%;
  --card-foreground: 15 0% 90%;
  --popover: 15 10% 5%;
  --popover-foreground: 15 0% 90%;
  --primary: 15 78% 53%;
  --primary-foreground: 0 0% 100%;
  --secondary: 15 10% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: -23 10% 25%;
  --muted-foreground: 15 0% 60%;
  --accent: -23 10% 25%;
  --accent-foreground: 15 0% 90%;
  --destructive: 0 50% 40%;
  --destructive-foreground: 15 0% 90%;
  --border: 15 20% 40%;
  --input: 15 20% 40%;
  --ring: 15 78% 53%;
  --radius: 0.75rem;
}

}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
